@import "tailwindcss";

@theme {
  --color-primary: #FF4081;
  /* Lushy Pink */
  --color-secondary: #0EA5E9;
  /* Pula Blue */
  --color-accent: #E2E8F0;
  /* Diamond White/Silver */
  --color-charcoal: #1E293B;
  --color-background: #F8FAFC;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-charcoal);
    font-family: system-ui, -apple-system, sans-serif;
  }
}